--trusted-host pypi.tuna.tsinghua.edu.cn -i https://pypi.tuna.tsinghua.edu.cn/simple
Django
djangorestframework
django-cors-headers
django-filter
django-redis
django-simple-captcha
djangorestframework-simplejwt
python-dotenv
loguru