# Django settings
DEBUG=False
ALLOWED_HOSTS=

# Database configuration
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

# Email configuration
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
EMAIL_USE_SSL=

# Redis configuration
REDIS_PASSWORD = ""
REDIS_HOST = "127.0.0.1"
REDIS_PORT = "6379"

# Celery configuration
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# Logging configuration
LOG_FOLDER = "logs"
LOG_FORMAT = %(levelname)s %(asctime)s [%(threadName)s:%(thread)d] [%(name)s:%(lineno)d][%(module)s:%(funcName)s] [%(levelname)s]- %(message)s
LOG_MAX_BYTES = "1024 * 1024 * 300"  # 300MB
LOG_BACKUP_COUNT = "10" # 备份份数